
cocos2d/build/cocos2d_libs.xcodeproj/xcuserdata/darkcl.xcuserdatad/xcschemes/box2d iOS.xcscheme

cocos2d/build/cocos2d_libs.xcodeproj/xcuserdata/darkcl.xcuserdatad/xcschemes/box2d Mac.xcscheme

cocos2d/build/cocos2d_libs.xcodeproj/xcuserdata/darkcl.xcuserdatad/xcschemes/build all libs iOS.xcscheme

cocos2d/build/cocos2d_libs.xcodeproj/xcuserdata/darkcl.xcuserdatad/xcschemes/build all libs Mac.xcscheme

cocos2d/build/cocos2d_libs.xcodeproj/xcuserdata/darkcl.xcuserdatad/xcschemes/chipmunk iOS.xcscheme

cocos2d/build/cocos2d_libs.xcodeproj/xcuserdata/darkcl.xcuserdatad/xcschemes/chipmunk Mac.xcscheme

cocos2d/build/cocos2d_libs.xcodeproj/xcuserdata/darkcl.xcuserdatad/xcschemes/cocos2dx iOS.xcscheme

cocos2d/build/cocos2d_libs.xcodeproj/xcuserdata/darkcl.xcuserdatad/xcschemes/cocos2dx Mac.xcscheme

cocos2d/build/cocos2d_libs.xcodeproj/xcuserdata/darkcl.xcuserdatad/xcschemes/cocos2dx-extensions iOS.xcscheme

cocos2d/build/cocos2d_libs.xcodeproj/xcuserdata/darkcl.xcuserdatad/xcschemes/cocos2dx-extensions Mac.xcscheme

cocos2d/build/cocos2d_libs.xcodeproj/xcuserdata/darkcl.xcuserdatad/xcschemes/CocosDenshion iOS.xcscheme

cocos2d/build/cocos2d_libs.xcodeproj/xcuserdata/darkcl.xcuserdatad/xcschemes/CocosDenshion Mac.xcscheme

cocos2d/build/cocos2d_libs.xcodeproj/xcuserdata/darkcl.xcuserdatad/xcschemes/xcschememanagement.plist

proj.ios_mac/CCBeat.xcodeproj/project.xcworkspace/contents.xcworkspacedata

proj.ios_mac/CCBeat.xcodeproj/project.xcworkspace/xcuserdata/darkcl.xcuserdatad/UserInterfaceState.xcuserstate

proj.ios_mac/CCBeat.xcodeproj/xcuserdata/darkcl.xcuserdatad/xcschemes/CCBeat iOS.xcscheme

proj.ios_mac/CCBeat.xcodeproj/xcuserdata/darkcl.xcuserdatad/xcschemes/CCBeat Mac.xcscheme

proj.ios_mac/CCBeat.xcodeproj/xcuserdata/darkcl.xcuserdatad/xcschemes/xcschememanagement.plist
